<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" itemscope itemtype="https://schema.org/WebPage">
        {% comment %}{% include browser-upgrade.html %}{% endcomment %}
    {% include masthead.html %}
        {% include custom-avatar.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% include scripts.html %}
    {% include footer.html %}
    
    <!-- Thêm avatar dưới chữ Blog của RoboE -->
    <script src="/Blog_Cua_Toi/assets/js/add-avatar.js"></script>
  </body>
</html>
