---
layout: default
---

<div id="main" role="main">
  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    
    <!-- TIÊU ĐỀ BÀI VIẾT -->
    <header>
      <h1 id="page-title" class="page__title" itemprop="headline">
        {{ page.title }}
      </h1>
    </header>

    <!-- NỘI DUNG BÀI VIẾT -->
    <section class="page__content" itemprop="text">
      {{ content }}
    </section>

    <!-- PHẦN CHIA SẺ VÀ PHÂN TRANG -->
    <footer class="page__meta">
      {% include page__taxonomy.html %}
      {% include page__date.html %}
    </footer>

    {% if page.share %}
      {% include social-share.html %}
    {% endif %}

    {% include post_pagination.html %}

    <!-- KHUNG BÌNH LUẬN -->
    {% if page.comments %}
      <div class="page__comments">
        {% include comments.html %}
      </div>
    {% endif %}

  </article>
</div>
